<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/public.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/zt_header.css">
    <link rel="stylesheet" href="/public/css/lt_video.css">
    <link rel="stylesheet" href="/public/css/lj_news.css">
    <link rel="stylesheet" href="/public/css/Q_students.css">
    <link rel="stylesheet" href="/public/css/Q_students.css">
    <link rel="stylesheet" href="/public/css/t_course.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/m_com.css">
    <link rel="stylesheet" href="/public/css/Y_footer.css">
    <script src="/public/js/myJquery.js"></script>
</head>
<body>

        <div id="page"></div>

</body>
<script src="/public/js/index.js"></script>
<script src="/public/js/indexj.js"></script>

</html>