<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>培训课程</title>
    <link rel="stylesheet" href="/public/css/public.css">
    <link rel="stylesheet" href="/public/css/common.css">
</head>
<body>
<!--二级页面-->
<!--二级页面的导航-->
<div id="Q_nav"></div>
<!--banner 图-->
<div id="Q_banner"></div>
<!--面包屑-->
<div id="Q_mianbao"></div>
<!--选项卡-->
<div id="Q_two">
    <div id="Q_left"></div>
    <div id="Q_right"></div>
</div>
<div id="Y_foot"></div>
</body>
<script src="/public/js/Y_Three.js"></script>
<script>
</script>
</html>