.lt_video {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative; }
  .lt_video embed {
    width: 1200px;
    height: 700px; }
  .lt_video .play {
    width: 111px;
    height: 111px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    z-index: 3; }
    .lt_video .play .green {
      width: 97px;
      height: 97px;
      border-radius: 50%;
      background: #76a15e;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto auto; }
      .lt_video .play .green .three {
        width: 0;
        height: 0;
        position: absolute;
        left: 33px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        border-left: 40px solid #ffffff;
        border-right: 0px;
        border-top: 30px solid #76a15e;
        border-bottom: 30px solid #76a15e; }
